:root{
    --dark-color:#19283f;
    --green-color:#33d1cc;
    --red-color:#ff3150;
    --yellow-color:#ffc400;
    --section-color:#eff7fa;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 10000px;
}
.main-btn{
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
}
.main-btn:hover{
    color: rgb(248, 252, 13);
    

}
/* start navbar */
.navbar{
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link{
    color: #fff;
}
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--green-color);
}
.search{
    border-left: 1px solid var(--green-color);
}
.search svg{
    color:var(--green-color);
}
.navbar .navbar-toggler{
    color: #fff;
    font-size: 20px;
    border-color: #fff;
}
/* when aria expanded true border color changed */
.navbar .navbar-toggler[aria-expanded="true"]{
    border-color: var(--green-color);
}
/* end navbar */
/* landing */
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
.landing .btn{
    width: 150px;

}
/* end landing */


/* start feature */
.main-title::after{
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
}
.features .icon-holder{
    height: 200px;
}
.features .icon-holder svg{
    left: 50%;
    transform: translate(-50%);
}
.features .icon-holder .number{
    font-size: 10rem;
    color: var(--section-color);
}
.features .icon-holder .icon{
    font-size: 40px;
    color: var(--green-color);
}
.features h4{
    color: var(--yellow-color);
}
/* end feature */


/* our work */
.our-work{
    background-color: var(--section-color);
}
.our-work ul .active{
    background-color: var(--red-color);
    color: var(--yellow-color);

}
.our-work ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover{
    color: var(--red-color);
}
.our-work .box{
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.our-work .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: #33d1cc86;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(100% + 5px));
}
.our-work .box:hover:before{
    transform:translateX(0) ;
    transition: 0.2s;
}
/* end our work */


/* stuff */
.stuff .description{
    max-width: 400px;
}
/* end stuff */


/* start team */
.our-team{
    background-color: var(--section-color);
}
.our-team h2{
    color: var(--yellow-color);
}
.our-team .box h4{
    background-color:var(--green-color);
}

/* end team */


/* start project */
.project{
    background-color: var(--dark-color);
}

/* end project */



/* start subscribe */
.subscribe{
    background-color:var(--yellow-color);
}
.subscribe input[type="text"]{
    border: none;
    border-bottom: 1px solid #fff;
}
.subscribe input[type="text"]:focus{
    outline: none;
}
.subscribe input::placeholder{
    color: white;
}
.subscribe input[type="submit"]{
    background-color: var(--dark-color);
    color: var(--yellow-color);
}
/* end supscribe */



/* start footer */
.footer{
    background-color: var(--dark-color);
}
.footer span{
    color: var(--green-color);
}
.facebook{
    font-size: 30px;
    margin-left: 20px;
}
/* end footer */